<?xml version="1.0"?>
<configuration>
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <enableItemLanguageFallback>true</enableItemLanguageFallback>
            <enableFieldLanguageFallback>true</enableFieldLanguageFallback>
          </index>
          <index id="sitecore_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <enableItemLanguageFallback>true</enableItemLanguageFallback>
            <enableFieldLanguageFallback>true</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
    <services>
      <configurator type="AllegroMicroSystems.Feature.Search.DI.RegisterDependencies, AllegroMicroSystems.Feature.Search" />
      <register serviceType="AllegroMicroSystems.Feature.Search.Repositories.ISearchRepository, AllegroMicroSystems.Feature.Search"
implementationType="AllegroMicroSystems.Feature.Search.Repositories.SearchRepository, AllegroMicroSystems.Feature.Search" />
    </services>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="article_date" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.DateTime" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="article date" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="_templates" storageType="yes" indexType="untokenized">AllegroMicroSystems.Feature.Search.Indexing.TemplatePath, AllegroMicroSystems.Feature.Search</field>
            <field fieldName="sort_priority" storageType="yes"  indexType="untokenized">AllegroMicroSystems.Feature.Search.Indexing.SortPriority, AllegroMicroSystems.Feature.Search</field>
            <field fieldName="_articletype" storageType="yes"  indexType="untokenized">AllegroMicroSystems.Feature.Search.Indexing.ArticleType, AllegroMicroSystems.Feature.Search</field>
            <field fieldName="_articletopic" storageType="yes"  indexType="untokenized">AllegroMicroSystems.Feature.Search.Indexing.ArticleTopic, AllegroMicroSystems.Feature.Search</field>
            <field fieldName="_articleImage" storageType="yes"  indexType="untokenized">AllegroMicroSystems.Feature.Search.Indexing.ArticleImage, AllegroMicroSystems.Feature.Search</field>
            <field fieldName="_hidefromsearch" storageType="yes"  indexType="untokenized">AllegroMicroSystems.Feature.Search.Indexing.HideFromSearchResults, AllegroMicroSystems.Feature.Search</field>
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>


