<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <patch:attribute name="defaultProvider">custom</patch:attribute>
      <providers>
        <clear />
        <add name="custom"
            type="Sitecore.Links.LinkProvider, Sitecore.Kernel"
            languageEmbedding="always" />
      </providers>
    </linkManager>
    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="allegromicrosystems">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <settings>
        <setting name="LanguageFieldFallback.AllowVaryFallbackSettingsPerLanguage" value="false" />
      </settings>
    </sites>
  </sitecore>
</configuration>
